body {
	background-color: blanchedalmond;
}

main {
	border: 2px solid limegreen;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 200px 200px;
	gap: 10px;
}

div {
	border: 2px solid darkgreen;
}
