*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-color: blanchedalmond;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0px;
}

main {
	min-height: 100vh;
	border: 2px solid limegreen;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 200px auto 100px;
	gap: 10px;
	grid-template-areas:
		"a a c"
		"b b c";

	div {
		border: 2px solid darkgreen;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 2rem;
		grid-column: 1 / 4;
	}
}

#a {
	grid-area: a;
}

#b {
	grid-area: b;
}

#c {
	grid-area: c;
}

h1 {
	font-size: 2rem;

	@media (width >= 40em) {
		font-size: 3rem;
	}
	@media (width >= 60em) {
		font-size: 4rem;
	}
}
